.header {
	margin: auto;
	height: 50px;
	width: 90%;
	display: flex;
	justify-content: space-between;
	background-color: #fdf1f1;

	.options {
		width: 50%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-right: 50px;

		.option {
			padding: 10px 15px;
			cursor: pointer;
			text-decoration: none;
			color: rgb(160, 160, 160);
		}
	}
}
